/* HTML Elements */
body {
  color: #cbcbcb !important;
}

h1 {
  font-size: 2.125rem !important;
}

main {
  padding-top: 8em;
}

/* Navbar Elements */
.logo {
  width: 160px;
}

.NavBar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.NavLinks {
  color: #00b39b;
  padding: 5px;
  line-height: 35px;
  text-decoration: none;
}

.NavLinks:hover {
  color: #747474;
  text-decoration: none;
}

/* Intro Elements */
.sygnet {
  display: block;
  margin: 1px auto;
}

.title {
  text-align: center;
  color: #00b39b;
  padding: 20px;
  margin: 30px 0;
}

.intro-text {
  display: flex;
}

.main-text {
  padding: 20px;
}

/* Services Elements */
.services {
  display: flex;
  padding: 30px;
  margin: 50px 0;

}

.services-img {
  width: 390px;
  display: block;

}

.for-patients,
.for-doctors {
  color: white;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
  overflow: hidden;
  /* border: 3px solid white; */
}

.for-patients {
  background-color: #00b39b;
}

select {
  border-radius: 5px;
  padding: 7px;
}

.for-doctors {
  background-color: #3d83df;
}

.select {
  min-width: 180px;
}

.service-title {
  font-size: 30px;
  margin-bottom: 25px;
}

/* About-1 Elements */
.about-1 {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.about-title {
  color: #00b39b;
  font-size: 25px !important;
}

.about-links {
  justify-content: space-between;
  margin: 20px;
  fill: #c4c4c4;

}

svg {
  width: 135px;
  margin: 10px;
}

.about-links:hover {
  fill: #00b39b;
}

/* About-2 Elements */
/* .about22 {
  background-color: #d7f6f6;
  width: 100%;
} */

.about-2 {
  background-color: #d7f6f6;
  /* height: 500px; */
  padding: 20px;
  margin: 50px 0;
}

.about-2-title {
  color: #00b39b;
}

.component {
  background-color: #fff;
  border-radius: 5px;
  font-size: small;
  text-align: center;
  margin: 5px 0;
}

.component-img {
  padding: 10px;
}

.component-button {
  display: flex;
  justify-content: space-between;
}

/* Card Elements */
.card-spec {
  margin: 15px 0;
  padding: 0 !important;
  margin: 10px !important;
  color: #747474;
}

/* Footer Elements */
.footer {
  text-align: center;
  font-size: small;
}

.component:nth-child(even) {
  transform: translateY(-20px);
}